In [3]:
from src.data_loader import Data

Data().users

      user  preference  score
0      123          16      8
1      123          17      9
2      123          18      9
3      123          19      8
4      123          20     10
...    ...         ...    ...
5465   180         105      9
5466   180         106      9
5467   180         107      9
5468   180         108      6
5469   180         109      6

[5470 rows x 3 columns]