In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.demographic_recommender import DemographicRecommender
from src.content_recommender import ContentRecommender
from src.collaborative_recommender import CollaborativeRecommender
from src.evaluation import recommender_evaluation

In [10]:
cr=CollaborativeRecommender()

In [15]:
cr.recommend(123, 5)

10.680000000000001
0     10.000000
65     8.717228
16     7.106742
5      7.013109
55     6.966292
34     6.526217
4      6.460674
47     5.599251
2      5.402622
1      5.308989
26     4.728464
20     4.438202
58     4.325843
32     4.157303
86     4.110487
36     3.146067
31     3.117978
27     2.958801
49     2.640449
15     2.640449
30     2.593633
72     2.481273
23     2.303371
24     2.303371
87     2.275281
29     2.247191
28     2.247191
51     2.134831
54     2.134831
57     2.078652
69     2.078652
66     2.078652
82     1.910112
94     1.910112
83     1.910112
92     1.910112
93     1.910112
85     1.910112
84     1.910112
89     1.591760
88     1.591760
6      1.226592
19     0.880150
35     0.730337
60     0.655431
79     0.646067
8      0.514981
10     0.505618
43     0.365169
44     0.365169
38     0.365169
62     0.346442
73     0.346442
78     0.337079
Name: score, dtype: float64

[(np.int64(17374), 'El Oceanográfico', np.float64(10.0), np.int64(4)),
 (np.int64(17415),
  'Ciudad de las Ciencias',
  np.float64(8.717228464419472),
  np.int64(5)),
 (np.int64(17440),
  'Estación del Norte',
  np.float64(7.106741573033705),
  np.int64(4)),
 (np.int64(17393),
  'Teatro Principal',
  np.float64(7.013108614232209),
  np.int64(3)),
 (np.int64(17397), 'Plaza Redonda', np.float64(6.96629213483146), np.int64(3))]

In [7]:
cr.data.puntuaciones[cr.data.puntuaciones['user'] == 123]

    user  place  score
0    123  17376      6
1    123  17377      6
2    123  17380      6
3    123  17392      3
4    123  17395      4
5    123  17405      3
6    123  17411      1
7    123  17421      2
8    123  17425      6
9    123  17426      6
10   123  17432      6
11   123  17442      3
12   123  17484      7
13   123  17509      6
14   123  17515      2
15   123  17528      1
16   123  17530      3
17   123  17532      3
18   123  17552      6

In [2]:
br=DemographicRecommender()

In [14]:
br.recommend(
    user_id=123,
    n=5,)

[(np.int64(17374),
  'El Oceanográfico',
  np.float64(7.822105263157894),
  'media edad con hijos'),
 (np.int64(17401),
  'La Lonja de la Seda o de los Mercaderes',
  np.float64(7.704736842105262),
  'media edad con hijos'),
 (np.int64(17439),
  'Catedral',
  np.float64(7.689736842105263),
  'media edad con hijos'),
 (np.int64(17438),
  'Playa de las Arenas',
  np.float64(7.652368421052632),
  'media edad con hijos'),
 (np.int64(17419),
  'Plaza de la Virgen',
  np.float64(7.637105263157895),
  'con hijos pequenos')]

In [ ]:

recommender_evaluation(br,5)

Precisión de cada usuario: [0.4, 0.0, 0.4, 0.2, 0.2, 0.0, 0.0, 0.2, 0.2, 0.2, 0.0, 0.4, 0.2, 0.0, 0.4, 0.2, 0.2, 0.0, 0.2, 0.0, 0.4, 0.2, 0.2, 0.2, 0.2, 0.6, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2, 0.2, 0.0, 0.2, 0.0, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.0, 0.2, 0.0, 0.2, 0.2]
Accuracy top 5: 12.41379310344828%

In [5]:
cr=ContentRecommender()
cr.recommend(
    user_id=123,
    n=5,)

[(np.int64(17401), 'Estación del Norte', np.float64(8.994736842105263), None),
 (np.int64(17397),
  'La Lonja de la Seda o de los Mercaderes',
  np.float64(8.822105263157894),
  None),
 (np.int64(17419), 'Catedral', np.float64(8.762105263157896), None),
 (np.int64(17429), 'Torres de Serranos', np.float64(8.75421052631579), None),
 (np.int64(17440), 'Plaza Redonda', np.float64(8.739473684210527), None)]

In [6]:
recommender_evaluation(cr,5)

Precisión de cada usuario: [0.2, 0.0, 0.2, 0.4, 0.0, 0.0, 0.0, 0.4, 0.2, 0.0, 0.2, 0.4, 0.2, 0.0, 0.0, 0.4, 0.2, 0.0, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.0, 0.4, 0.0, 0.0, 0.0, 0.2, 0.2, 0.0, 0.2, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.2, 0.0, 0.2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.2, 0.0, 0.2, 0.0, 0.0, 0.2]
Accuracy top 5: 11.724137931034488%