In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
from src.data_loader import DataLoader

In [22]:
data = DataLoader().load_datos_personales()
data.head()

  user         name age sex occupation children y_c_age o_c_age
0  123  Usuario_123  37   F          3        1       3       8
1  124  Usuario_124  42   F          8        1       3       8
2  125  Usuario_125  35   F         10        0       0       0
3  126  Usuario_126  50   F          4        0       0       0
4  127  Usuario_127  66   F         11        1      35      44

In [23]:
data = DataLoader().load_puntuaciones()
data.head()

  user  place score
0  123  17376     6
1  123  17377     6
2  123  17380     6
3  123  17392     3
4  123  17395     4

In [26]:
data = DataLoader().load_clasificacion_items()
data.head()

    item preference score
0  17365         65    61
1  17365         68    67
2  17366         62    78
3  17366         68    75
4  17367         26    20

In [27]:
data = DataLoader().load_items()
data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 108: invalid continuation byte